@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

:root {
  --bs-font-sans-serif: 'Be Vietnam Pro', sans-serif;
}

.text-shadow {
  text-shadow: 0 0 0.5rem rgb(33, 37, 41),
    0 0 0.5rem rgb(220, 53, 69),
    0 0 1rem rgb(220, 53, 69);
}

p {
  margin-bottom: 0.5rem !important;
  line-height: 1.8;
}

.text-muted {
  margin-bottom: -0.5rem !important;
  font-size: 0.85rem;
}

.text-justify {
  text-align: justify;
}

.text-preview {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}